# name: Deploy Kubernetes Addons

# on:
#   # workflow_dispatch:
#   # push:
#   #   paths:
#   #     - "addons/**"
#   workflow_run:
#     workflows: ["Provision Hetzner Cluster Infra"]
#     types:
#       - completed

# jobs:
#   terraform:
#     if: ${{ github.event.workflow_run.conclusion == 'success'}}
#     runs-on: ubuntu-latest
#     environment: production
#     permissions:
#       contents: read
#       id-token: write
#     env:
#       TF_IN_AUTOMATION: true
#       TF_INPUT: false
#       TF_VERSION: 1.14.3

#     steps:
#       - uses: actions/checkout@v4

#       - name: Download kubeconfig artifact
#         uses: actions/download-artifact@v4
#         with:
#           name: kubeconfig
#           path: ./addons

#       - name: Setup Terraform
#         uses: hashicorp/setup-terraform@v3
#         with:
#           terraform_version: ${{ env.TF_VERSION }}

#       - name: Set Terraform Environment Variables
#         run: |
#           echo "ARM_CLIENT_ID=$(jq -r .clientId <<< '${{ secrets.AZURE_CREDENTIALS }}')" >> $GITHUB_ENV
#           echo "ARM_CLIENT_SECRET=$(jq -r .clientSecret <<< '${{ secrets.AZURE_CREDENTIALS }}')" >> $GITHUB_ENV
#           echo "ARM_TENANT_ID=$(jq -r .tenantId <<< '${{ secrets.AZURE_CREDENTIALS }}')" >> $GITHUB_ENV
#           echo "ARM_SUBSCRIPTION_ID=$(jq -r .subscriptionId <<< '${{ secrets.AZURE_CREDENTIALS }}')" >> $GITHUB_ENV

#       - name: Terraform Init (Azure remote state)
#         working-directory: addons
#         run: terraform init -upgrade

#       - name: Terraform Validate
#         working-directory: addons
#         run: terraform validate

#       - name: Terraform Plan
#         working-directory: addons
#         env:
#           TF_VAR_kubeconfig_path: "./addons/kubeconfig"
#           TF_VAR_hcloud_token: ${{ secrets.HETZNER_API_TOKEN }}
#           TF_VAR_letsencryptEmail: ${{ secrets.LETSENCRYPT_EMAIL }}
#           TF_VAR_tranzrCloudflareApiTokenKey: ${{ secrets.TRANZR_CLOUDFLARE_API_TOKEN_KEY }}
#           TF_VAR_tranzrDnsZones: ${{ vars.TRANZR_DNS_ZONE }}
#           TF_VAR_azureServicePrincipalClientId: ${{ secrets.AZURE_SERVICE_PRINCIPAL_CLIENT_ID }}
#           TF_VAR_azureServicePrincipalClientSecret: ${{ secrets.AZURE_SERVICE_PRINCIPAL_CLIENT_SECRET }}
#           TF_VAR_azureServicePrincipalTenantId: ${{ vars.AZURE_SERVICE_PRINCIPAL_TENANT_ID }}
#           TF_VAR_azureSubscriptionId: ${{ vars.AZURE_SUBSCRIPTION_ID }}
#           TF_VAR_azureKeyVaultUrl: ${{ vars.AZURE_KEY_VAULT_URL }}
#         run: terraform plan

#       - name: Terraform Apply
#         working-directory: addons
#         env:
#           TF_VAR_kubeconfig_path: "./addons/kubeconfig"
#           TF_VAR_hcloud_token: ${{ secrets.HETZNER_API_TOKEN }}
#           TF_VAR_letsencryptEmail: ${{ secrets.LETSENCRYPT_EMAIL }}
#           TF_VAR_tranzrCloudflareApiTokenKey: ${{ secrets.TRANZR_CLOUDFLARE_API_TOKEN_KEY }}
#           TF_VAR_tranzrDnsZones: ${{ vars.TRANZR_DNS_ZONE }}
#           TF_VAR_azureServicePrincipalClientId: ${{ secrets.AZURE_SERVICE_PRINCIPAL_CLIENT_ID }}
#           TF_VAR_azureServicePrincipalClientSecret: ${{ secrets.AZURE_SERVICE_PRINCIPAL_CLIENT_SECRET }}
#           TF_VAR_azureServicePrincipalTenantId: ${{ vars.AZURE_SERVICE_PRINCIPAL_TENANT_ID }}
#           TF_VAR_azureSubscriptionId: ${{ vars.AZURE_SUBSCRIPTION_ID }}
#           TF_VAR_azureKeyVaultUrl: ${{ vars.AZURE_KEY_VAULT_URL }}
#         run: terraform apply -auto-approve
